<form name="profile" novalidate class="css-form flex-column center-container" ng-submit="dapa.api.userData.password = newPassword || dapa.api.userData.password; dapa.api.userData.email = newEmail || dapa.api.userData.email; dapa.api.updateUser(dapa.api.userData); dapa.api.go('dapa.profile');">
    <div class="flex-row between w100">
        <div class="text-left float-left">
            <button type="button" ui-sref="dapa.form"
                    class="button button-assertive button-clear button-icon icon ion-ios-arrow-back">
                Back
            </button>
        </div>
        <div class="text-right">
            <span ng-hide="newPassword === confirmPassword && newEmail === confirmEmail" class="button button-clear assertive">
                    Please confirm changes below.
                </span>
            <button
                    class="button button-clear button-assertive"
                    ng-hide="newPassword !== confirmPassword || newEmail !== confirmEmail"
                    ng-disabled="newPassword !== confirmPassword || newEmail !== confirmEmail"
                    type="submit">
                Done
            </button>
        </div>
    </div>
    <div class="w90">
        <h4 class="text-center">Edit profile</h4>
        <br>
            <div>
                <label>
                    <div>NEW EMAIL ADDRESS</div>
                    <input placeholder="Type your new email here" type="email" ng-model="newEmail">
                </label>
                <label>
                    <div>CONFIRM</div>
                    <input placeholder="Confirm your email address" type="email" ng-model="confirmEmail">
                    <p class="assertive" ng-show="confirmEmail.length > 0 && confirmEmail !== newEmail">Email addresses do not match.</p>
                </label>
                <label>
                    <div>OLD PASSWORD</div>
                    <input placeholder="Enter your old password" type="text" ng-model="oldPassword">
                    <p class="assertive" ng-show="oldPassword.length > 0 && oldPassword !== dapa.api.userData.password">Old password is not correct</p>
                </label>
                <label>
                    <div>NEW PASSWORD</div>
                    <input placeholder="Enter your new password" type="password" ng-model="newPassword" ng-disabled="oldPassword !== dapa.api.userData.password">
                </label>
                <label>
                    <div>CONFIRM</div>
                    <input ng-disabled="!newPassword" placeholder="Confirm your new password" type="password" ng-model="confirmPassword">
                    <p class="assertive" ng-show="confirmPassword.length > 0 && confirmPassword !== newPassword">Passwords do not match.</p>
                </label>
        </div>
    </div>
    <div class="w80">
        <a class="button button-light button-block" ng-click="dapa.user = {}; dapa.api.userData = {}; dapa.api.logout()" ui-sref="dapa.welcome">Log out</a></div>

</form>
