<div style="height: 100vh; align-items: center; -webkit-align-items: center" class="flex-column">
    <div class="flex-row between" style="width: 100vw;" >
        <div class="text-left float" style="float:left">
            <button ui-sref="dapa.form"
                    class="button button-assertive button-clear button-icon icon ion-ios-arrow-back">
                Back
            </button>
        </div>
        <div class="text-right">
            <button ui-sref="dapa.profile"
                    class="button button-clear button-assertive"
            >Done
            </button>
        </div>
    </div>
    <div class="" style="width:90%;">
        <h4 ng-style="{textAlign:'center'}">Edit profile</h4>
        <br>
        <form action="" name="profile">
            <div style="">
                <label style="" class="">
                    <span class="input-label">FIRST NAME</span>
                    <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.first_name"
                           >
                </label>
                <label style="" class="">
                    <span class="input-label">LAST NAME</span>
                    <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.last_name"
                           >
                </label>
                <label style="" class="">
                    <span class="input-label">EMAIL</span>
                    <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.email"
                           >
                </label>
                <label style="" class="">
                    <span class="input-label">PASSWORD</span>
                    <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.password"
                           >
                </label>
            </div>
        </form>
    </div>
    <div style="width:80%;min-width:80%;">
        <a class="button button-light button-block" ng-click="$parent.$parent.dapa.api.logout(user)" ui-sref="dapa.welcome">Log out</a></div>

</div>
