<ion-view style="" title="Profile"
          ng-init="ui.style.inputs = {width:'100%', background: rgba(0,0,0,0), borderBottom: '1px solid rgba(0,0,0,.2)', padding:'4px'}">
    <div ng-style="{display:'flex', justifyContent:'space-between', width:'100%'}">
        <button ui-sref="dapa.profile" class="button button-assertive button-clear button-icon icon ion-ios-arrow-back">
            Back
        </button>
        <div>
            <!-- TODO insert save method-->
            <button ng-click="ui.editProfile = !ui.editProfile"
                    class="button button-clear button-assertive">Done
            </button>
        </div>
    </div>
    <ion-content class="has-header has-footer" padding="true">
        <div class="flex-column between padded"
             ng-style="{height:($parent.dapa.ui.dHeight-110)+'px'}">
            <h4 ng-style="{textAlign:'center'}">Your profile</h4>

            <form action="" name="profile">
                <div style="" ng-init="user.first_name = 'mark'">
                    <label style="" class="">
                        <span class="input-label">FIRST NAME</span>
                        <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.first_name"
                               >
                    </label>
                    <label style="" class="">
                        <span class="input-label">LAST NAME</span>
                        <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.last_name"
                               >
                    </label>
                    <label style="" class="">
                        <span class="input-label">EMAIL</span>
                        <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.email"
                               >
                    </label>
                    <label style="" class="">
                        <span class="input-label">PASSWORD</span>
                        <input ng-style="ui.style.inputs" placeholder="" type="text" ng-model="user.password"
                               >
                    </label>
                </div>
            </form>
            <button ng-click="$parent.$parent.dapa.api.logout(user)" ui-sref="dapa.welcome"
                    class="button button-light button-block ">Log out
            </button>
        </div>
    </ion-content>
</ion-view>