<form name="login" class="flex-column center-container" >
    <button ui-sref="dapa.welcome" class="start button button-assertive button-clear button-icon icon ion-ios-arrow-back">
        Back
    </button>

    <div class="w90">
        <h4 class="text-center">Log in to your account</h4>
        <br>
        <div>
            <label name="email" class="text-left">
                <div>EMAIL</div>
                <input placeholder="Enter your email address" type="email" ng-model="user.email" required>
                <p class="assertive" ng-show="login.$error.email">Please enter a valid email address</p>

            </label>
            <label name="password" class="text-left">
                <div>PASSWORD</div>
                <input placeholder="Enter your password" type="password" ng-model="user.password" required>
            </label>
        </div>
    </div>

    <div class="w80">
        <div
                ui-sref="dapa.form"
                class="button button-assertive button-block"
                ng-click="dapa.user = dapa.api.login(user);"
                ng-disabled="login.$invalid">
            Continue
        </div>
        <a ui-sref="dapa.recover" class="button button-dark button-clear w100">
            Forgot your password?
        </a>
    </div>
</form>