<ion-view style="" title="Login">
    <button ui-sref="dapa.welcome" class="button-icon icon ion-ios-arrow-back">Back</button>
    <ion-content class="has-header has-footer" padding="true">
        <form style="" class="list">
            <h3 style="">Log in to your account</h3>
            <ion-list style="">
                <label style="" name="email" class="item item-input">
                    <span class="input-label">EMAIL</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" name="password" class="item item-input">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button ui-sref="dapa.form" class="button button-assertive button-block ">Continue</button>
            <a ui-sref="dapa.recover" class="button button-positive button-clear ">Forgot your password?</a>
        </form>
    </ion-content>
</ion-view>