<form name="recover" class="flex-column center-container" ng-submit="dapa.api.recover(recoverEmail);">
    <button type="button" ng-click="dapa.ui.back = true; dapa.api.go('dapa.login'); " class="start button button-assertive button-clear button-icon icon ion-ios-arrow-back">
        Back
    </button>

    <div class="w90">
        <h4 class="text-center">Recover your password</h4>
        <br>

        <div>
            <label name="email">
                <div>EMAIL</div>
                <input placeholder="Enter your email address" ng-model="recoverEmail" type="email" required>
                <p class="assertive" ng-show="recover.$error.email">Please enter a valid email address</p>
            </label>
        </div>
    </div>
    <div class="w80">
        <button type="submit" class="button button-dark button-block" ng-disabled="recover.$invalid">
            Recover Password
        </button>
        <div>
            <br>
        </div>
    </div>
</form>


<div ng-show="dapa.ui.showRecoverConfirmation" class="modal-dark w100 h100">
    <div class="flex-column center-container center">
        <div class="flex-column welcome text-center h-center w80 h80 dapa-modal center">
            <div class="w60" ng-show="!dapa.ui.error">
                <h3>Almost there!</h3>
                <br>
                <div>Check your inbox! We just sent you an email. If you don't find anything, be sure to also check your spam folder</div>
                <br>
                <button type="button" class="button button-assertive button-block primary" ng-click="dapa.ui.back = true; dapa.api.go('dapa.login'); " >
                    Got it!
                </button>
            </div>
            <div class="w60" ng-show="dapa.ui.error">
                <h3>{{dapa.ui.error.message}}</h3>
                <br>
                <div>The email you submitted is not registered. Please register to use our app.</div>
                <br>
                <button type="button" class="button button-assertive button-block primary" ng-click="dapa.ui.back = true; dapa.ui.error = null; dapa.ui.showRecoverConfirmation = false" >
                    Got it!
                </button>
            </div>
        </div>
    </div>
</div>