<ion-view style="" title="Registration">
    <button ui-sref="dapa.welcome" class="button-icon icon ion-ios-arrow-back">Back</button>
    <ion-content class="has-header" scroll="false" padding="true">
        <form style="" class="list">
            <h3 style="">Create an account</h3>
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label">FIRST NAME</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">LAST NAME</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">EMAIL</span>
                    <input placeholder="" type="text">
                </label>
                <label style="" class="item item-input">
                    <span class="input-label">PASSWORD</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
            <div style="">
                <p>By signing up, you agree to the <a href>Privacy Policy</a> &amp; <a href="">Terms of Service</a>.</p>
            </div>
            <button ui-sref="dapa.form" class="button button-assertive button-block ">Continue</button>
        </form>
    </ion-content>
</ion-view>