<ion-view style="" title="Welcome">
    <ion-content class="has-header" padding="true">
        <article class="flex-parent flex-column space-between">
            <h1 style="">Welcome</h1>
            <p>Here, you'll be able to complete our forms and submit them. Create an account or sign in to continue.</p>
            <div>
                <a class="button button-assertive button-block " ng-href="#/register">Create an account</a>
                <a class="button button-light button-block " ui-sref="dapa.login">Log in</a>
            </div>
        </article>
    </ion-content>
</ion-view>