<ion-view style="" title="Welcome">
    <ion-content class="has-header" padding="true">
        <div style="" class="button-bar"></div>
        <h1 style="">Welcome</h1>
        <div style="">
            <p>Here, you'll be able to complete our forms and submit them. Create an account or sign in to continue.</p>
        </div>
        <a class="button button-assertive button-block " ng-href="#/register">Create an account</a>
        <a class="button button-light button-block " ui-sref="dapa.login">Log in</a>
    </ion-content>
</ion-view>