<div class="flex-column center-container">
    <div class="flex-column end welcome col text-center">
        <div class="col flex-column end">
            <h1>Welcome!</h1>
            <p>Here, you'll be able to complete our forms and submit them. Create an account or sign in to continue.</p>
        </div>
    </div>
    <div class="col flex-column end h-center text-center">
        <div style="width:80%;min-width:80%;"><button class="button button-assertive button-block primary" ui-sref="dapa.register">Create
            an account</button>
            <a class="button button-light button-block" ui-sref="dapa.login">Log in</a></div>
    </div>
</div>
